@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* || RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}


/* || VARIABLES */
:root {
    /* FONTS */
    --FW-BOLD: 600;
    --FW-LIGHT: 200;
    --FW-NORMAL: 400;
    --PARAGRAPH-FS: 0.9375rem;

    /* COLORS */
    --AZURE-RADIANCE: hsla(211, 86%, 50%, 0.149);
    --BLUE: hsl(212, 86%, 64%);
    --CYAN: hsl(180, 62%, 55%);
    --GRAYISH-BLUE: hsl(229, 6%, 66%);
    --ORANGE: hsl(34, 97%, 64%);
    --RED: hsl(0, 78%, 62%);
    --VERY-DARK-BLUE: hsl(234, 12%, 34%);
    --VERY-LIGHT-GRAY: hsl(0, 0%, 98%);
    --WHITE: hsl(0, 0%, 100%);

    /* BORDERS */
    --BORDER-WIDTH: 0.3125rem;
}


/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -625rem;
}

.light {
    font-weight: var(--FW-LIGHT);
}


/* || GENERAL STYLES */
html {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: min(100% - 1.5625rem, 62.5rem);
    background-color: var(--VERY-LIGHT-GRAY);
    margin: 1rem auto;
}

h1,
h2 {
    font-weight: var(--FW-BOLD);
    color: var(--VERY-DARK-BLUE);
}

h1 {
    font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
}

h2 {
    font-size: clamp(1rem, 0.75rem + 1vw, 1.5rem);
}

p {
    font-size: var(--PARAGRAPH-FS);
    font-weight: var(--FW-NORMAL);
    line-height: 1.6;
    color: var(--GRAYISH-BLUE);
}


/* || HEADER */
.header {
    margin-bottom: 3rem;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

.header__h1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.header__p {
    width: 90%;
}


/* || CONTAINER */
.container__features {
    display: grid;
    place-content: center;
    gap: 1.5rem;
}

.container__card {
    width: 100%;
    padding: 1.875rem;
    background-color: var(--WHITE);
    border-radius: 0.5rem 0.5rem 0.75rem 0.75rem;
    box-shadow: 0 0.25rem 0.75rem var(--AZURE-RADIANCE);

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.container__card:first-child {
    border-top: var(--BORDER-WIDTH) solid var(--CYAN)
}

.container__card:nth-child(2) {
    border-top: var(--BORDER-WIDTH) solid var(--RED)
}

.container__card:nth-child(3) {
    border-top: var(--BORDER-WIDTH) solid var(--ORANGE)
}

.container__card:last-child {
    border-top: var(--BORDER-WIDTH) solid var(--BLUE)
}

.container__figure {
    display: flex;
    justify-content: flex-end;
}


/* || MEDIA QUERIES */
@media screen and (min-width: 48em) {
    .header__p {
        width: 70%;
    }

    .container__features {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: stretch;
    }

    .container__figure {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 75em) {
    body {
        margin: 2rem auto;
    }

    .header__p {
        width: 50%;
    }

    .container__features {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "supervisor team calculator"
            "supervisor karma calculator";
        align-items: center;
    }

    .container__card {
        width: 21.875rem;
        height: 15.625rem;
        border-radius: 0.5rem;
    }

    .container__card:first-child {
        grid-area: supervisor;
    }

    .container__card:nth-child(2) {
        grid-area: team;
    }

    .container__card:nth-child(3) {
        grid-area: karma;
    }

    .container__card:last-child {
        grid-area: calculator;
    }
}